/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.container{
    padding: 1rem;
}

/*FLEX ITEMS*/
.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-j-end{
    display: flex;
    justify-content: end;
}

.flex-j-center{
    display: flex;
    justify-content: center;
}

.flex-between{
    display: flex;
    justify-content: space-between;
}

.flex-evenly{
    display: flex;
    justify-content: space-evenly;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-row-rev{
    display: flex;
    flex-direction: row-reverse;
}

.flex-ai-center{
    display: flex;
    align-items: center;
}

.flex-ai-end{
    display: flex;
    align-items: end;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

/*COLORS*/
.grey{
    color: rgb(120, 120, 120);
}

/*HEADER*/
header{
    background-color: rgb(0, 0, 0);
    width: 12rem;
    height: 100vh;
    left: 0;
    z-index: 2;
    position: fixed;
    color: white;
}

header div>.logo-big{
    height: 2.5rem;
    padding-left: 1rem;
    margin-top: 1rem;
}

header .logos img:nth-child(2){
    display: none;
}

header .menu{
    font-size: 16px;
    line-height: 35px;
    padding-top: 23px;
    padding-left: 1.3rem;
    color: rgb(120, 120, 120);
}

.menu i, .menu p {
    display: inline-block;
    vertical-align: middle;
}

header .menu div{
    font-size: 18px;
    margin-right: 9px;
    margin-bottom: 10px;
}
/*DA RISOLVRE L'HOVER*/
header .menu div:hover{
    color: white;
    font-size: 20px;
    border-left: 3px solid;
    border-color: rgb(173, 255, 47);
}

header .playlist{
    padding-top: 23px;
    padding-left: 1.2rem;
    line-height: 35px;
}

header .playlist h1{
    font-size: 16px;
}
    
header .playlist p>button{
    background-color: rgb(120, 120, 120);
    height: 32px;
    width: 32px;
    border: none;
    color: black;
    font-size: 25px;
    margin-right: 10px;
}

header .profile{
    padding-top: 14rem;
    line-height: 38px;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

header .profile p:first-child{
    font-size: 13px;
    color:  rgb(120, 120, 120);
}

header .profile p:last-child{
    font-weight: bold;
    font-size: 17px;
}

header .profile p:hover{
    color: white;
    font-size: 15px;
}

header .profile i:first-child{
    margin-right: 10px;
}

header .profile p:last-child:hover{
    font-size: 19px;
}

/*header .playlist p>button:hover{
    filter: invert();
}
FUNZIONA SE VAI SUL TESTO MA NON SUL + DA SOLO
*/

header .playlist ul li{
    list-style-type: none;
    color: rgb(120, 120, 120); 
    font-size: 13px;
}

header .playlist ul li:hover{
    font-size: 15px;
    color: white;
}

header .playlist p{
    display: flex; 
    align-items: center; 
    margin-bottom: 10px;
    margin-top: 9px; 
    font-size: 14px;
    color: rgb(120, 120, 120);
}

header .playlist p:hover{
    color: white;
}

header .profile p{

}

/*MAIN*/
main{
    height: 100vh;
    margin-left: 12rem;
    margin-bottom: 5rem;
}

main .top-bar{
    width: calc(100% - 12rem);
    background-color:rgb(8, 11, 18);
    position: fixed;
    height: 5rem;  
}

main .navbar{
    height: 5rem;
    width: 100%;
    background-color: red;
    margin-top: 5rem;
    padding: 0 5rem;
}

main .navbar nav{
    height: 100%;
}

main .jumbotron{
    color: white;
    height: 100%;
    margin-bottom: 5rem;
    width: 100%;
    background-color: rgb(20, 25, 34);
}

/*FOOTER*/
footer{
    height: 5rem;
    background-color: rgb(40, 40, 40);
    width: 100%;
    bottom: 0;
    position: fixed;
    color: white;
    z-index: 3;
}

footer .sound-manag{
    height: 100%;
    padding: 0 1rem;
}


/*MEDIA QUERIES*/
    /*MOBILE*/
@media screen and (max-width:576px) {
    header{
        width: 3.5rem;
    }
    header .logos img:first-child{
        display: none;
    }
    header .logos img:nth-child(2){
        display: block;
        height: 2.5rem;
        width: 2.5rem;
        margin: 0.5rem;
    }
    
    .playlist{
        display: none;
    }
    
    /*FINE HEADER*/
    main{
        margin-left: 3rem;
    }
    main .top-bar{
        width: calc(100% - 3rem);
    }

}