/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.container{
    padding: 1rem;
}

/*FLEX ITEMS*/
.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-j-end{
    display: flex;
    justify-content: end;
}

.flex-j-center{
    display: flex;
    justify-content: center;
}

.flex-between{
    display: flex;
    justify-content: space-between;
}

.flex-evenly{
    display: flex;
    justify-content: space-evenly;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-row-rev{
    display: flex;
    flex-direction: row-reverse;
}

.flex-ai-center{
    display: flex;
    align-items: center;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

/*HEADER*/
header{
    background-color: rgb(0, 0, 0);
    width: 12rem;
    height: 100vh;
    left: 0;
    z-index: 2;
    position: fixed;
    color: white;
}

header div>.logo-big{
    height: 2.5rem;
    padding-left: 1rem;
    margin-top: 0.7rem;
}

header .menu{
    font-size: 16px;
    line-height: 35px;
    padding-top: 23px;
    padding-left: 1.3rem;
}

header .menu div i{
    font-size: 18px;
    margin-right: 5px;
}

/*MAIN*/
main{
    height: 100vh;
    margin-left: 12rem;
    margin-bottom: 5rem;
}

main .top-bar{
    width: calc(100% - 12rem);
    background-color:rgb(8, 11, 18);
    position: fixed;
    height: 5rem;  
}

main .navbar{
    height: 5rem;
    width: 100%;
    background-color: red;
    margin-top: 5rem;
    padding: 0 5rem;
}

main .navbar nav{
    height: 100%;
}

main .jumbotron{
    color: white;
    height: 100%;
    margin-bottom: 5rem;
    width: 100%;
    background-color: rgb(20, 25, 34);
}

/*FOOTER*/
footer{
    height: 5rem;
    background-color: rgb(40, 40, 40);
    width: 100%;
    bottom: 0;
    position: fixed;
    color: white;
    z-index: 3;
}

footer .sound-manag{
    height: 100%;
    padding: 0 1rem;
}
