/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.container{
    padding: 1rem;
}

/*FLEX ITEMS*/
.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-j-start{
    display: flex;
    justify-content: start;
}

.flex-j-end{
    display: flex;
    justify-content: end;
}

.flex-j-center{
    display: flex;
    justify-content: center;
}

.flex-between{
    display: flex;
    justify-content: space-between;
}

.flex-evenly{
    display: flex;
    justify-content: space-evenly;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-row-rev{
    display: flex;
    flex-direction: row-reverse;
}

.flex-ai-center{
    display: flex;
    align-items: center;
}

.flex-ai-end{
    display: flex;
    align-items: end;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

/*COLORS*/
.grey{
    color: rgb(120, 120, 120);
}

/*HEADER*/
header{
    background-color: rgb(0, 0, 0);
    width: 12rem;
    height: 100vh;
    left: 0;
    z-index: 2;
    position: fixed;
    color: white;
}

header div>.logo-big{
    height: 2.5rem;
    padding-left: 1rem;
    margin-top: 1rem;
}

header .logos img:nth-child(2){
    display: none;
}

header .menu{
    font-size: 14px;
    line-height: 25px;
    margin: 1.3rem;
    color: rgb(120, 120, 120);
}

.menu i, .menu p {
    display: inline-block;
    vertical-align: middle;
}

header .menu div{
    margin-right: 9px;
    margin-bottom: 10px;
}
/*DA RISOLVERE L'HOVER*/
header .menu div:hover{
    color: white;
    font-size: 18px;
    border-left: 3px solid;
    border-color: rgb(173, 255, 47);
}

header .playlist{
    padding-top: 23px;
    padding-left: 1.2rem;
    line-height: 35px;
}

header .playlist h1{
    font-size: 16px;
}
    
header .playlist p>button{
    background-color: rgb(120, 120, 120);
    height: 32px;
    width: 32px;
    border: none;
    color: black;
    font-size: 25px;
    margin-right: 10px;
}

header .profile{
    padding-top: 14rem;
    line-height: 50px;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

header .profile div p:first-child{
    font-size: 13px;
    color:  rgb(120, 120, 120);
}

header .profile div p:last-child{
    font-weight: bold;
    font-size: 14px;
    color:  rgb(120, 120, 120);
}

header .profile div i:hover{
    color: white;
    font-size: 18px;
}

header .profile div i:first-child{
    margin-right: 10px;
    color:  rgb(120, 120, 120);
}

header .profile div p:last-child:hover{
    font-size: 18px;
    color:  white;
}

header .playlist ul li{
    list-style-type: none;
    color: rgb(120, 120, 120); 
    font-size: 13px;
}

header .playlist ul li:hover{
    font-size: 15px;
    color: white;
}

header .playlist p{
    display: flex; 
    align-items: center; 
    margin-bottom: 10px;
    margin-top: 9px; 
    font-size: 14px;
    color: rgb(120, 120, 120);
}

header .playlist p:hover{
    color: white;
}


/*MAIN*/
/* TOPBAR */
main{
    height: 100vh;
    margin-left: 12rem;
    margin-bottom: 5rem;
}

main .top-bar{
    width: calc(100% - 12rem);
    background-color:rgb(8, 11, 18);
    position: fixed;
    height: 5rem;  
}

/* NAVBAR */
main .navbar{
    height: 5rem;
    width: 100%;
    background-color: rgb(20, 25, 34);
    margin-top: 5rem;
    padding: 0 5rem;
    color: rgb(129, 131, 136);
    font-size: 13px;
}
main .navbar nav{
    height: 100%;
}
main .navbar nav p:hover{
    border-bottom: 2px solid rgb(173, 255, 47);
    padding-bottom: 2px;
}
main .navbar nav p{
    margin: 0 0.4rem;
}

/* JUMBOTRON */
    /* recently-played */
main .jumbotron{
    color: white;
    height: 100%;
    margin-bottom: 5rem;
    width: 100%;
    background-color: rgb(20, 25, 34);
}
.jumbotron .recently-played h1{
    margin-bottom: 10px;
    font-size: 23px;
}
.jumbotron .recently-played .wrapper .album{
    height: 9rem;
    width: 9rem;
    margin: .5rem;
    margin-bottom: 6rem;
}
.jumbotron .recently-played .wrapper .album img{
    width: 100%;
    margin-bottom: 5px;
}
.jumbotron .recently-played .wrapper .album h1{
    font-size: 15px;
}
.jumbotron .recently-played .wrapper .album p{
    font-size: 12px;
    color: rgb(125, 127, 131);
}




.jumbotron .johnny{
    padding-top: 4.5rem;
}
/*FOOTER*/
footer{
    height: 5rem;
    background-color: rgb(40, 40, 40);
    width: 100%;
    bottom: 0;
    position: fixed;
    color: white;
    z-index: 3;
}
footer .sound-manag{
    height: 100%;
    padding: 0 1rem;
}


/*LEFT-PART*/
.sound-manag .left-items{
    width: 175px;
    height: 3.2rem;
    display: flex;
    justify-content: space-between;
}
.sound-manag .left-items img{
    margin-right: .7rem;
    height: 2rem;
}
.sound-manag .left-items .icons{
    margin-left: 15px;
}
.sound-manag .left-items .icons i{
    padding:5px;
}
.sound-manag .left-items .song-name h1{
    font-size: 13px;
    padding-right: 10px;
}
.sound-manag .left-items .song-name p{
    font-size: 10px;
    display: inline-block;
}

/*MIDDLE-PART*/
.sound-manag .middle-items{
    width: 56%;
    height: 4rem;
}
.sound-manag .middle-items .top{
    width: 16rem;
    font-size: 19px;
}
.sound-manag .middle-items .top i:nth-child(3){
    font-size: 25px;
}
.sound-manag .middle-items .top i{
    padding-top: 5px;
}
.sound-manag .middle-items .bottom p{
    font-size: 10px;
    margin: .5rem;
}
.song-progress {
    width: 38vw;
    height: 5px;
    background-color:rgb(94, 94, 94);
    border-radius: 10px;
}
.progress-bar {
    width: 33%; 
    height: 100%;
    background-color:rgb(204, 204, 204); 
}
/*RIGHT-PART*/
.sound-manag .right-items{
    width: 175px;
    height: 3.2rem;
    font-size: 15px;
}
.volume-bar{
    width: 5rem;
    height: 4px;
    background-color:rgb(94, 94, 94);
}
.volume-bar .progress-bar{
    width: 80%;
    height: 100%;
    background-color: rgb(204, 204, 204);
}
/* FINE FOOTER */

/* TOP-BAR */
main .top-bar{
    padding-right: 1rem;
}
main .top-bar button{
    height: 2.3rem;
    border-radius: 20px;
    background-color: rgb(8, 11, 18);
    border: 1.5px solid white;
    width: 10.5rem;
    color: white;
    font-size: 9px;
    font-weight: bold;
}
main .top-bar button:hover{
    transform: scale(1.2);
}





/*MEDIA QUERIES*/
    /*MOBILE*/
@media screen and (max-width:576px) {
    header{
        width: 3.5rem;
    }
    header .logos img:first-child{
        display: none;
    }
    header .logos img:nth-child(2){
        display: block;
        height: 2.5rem;
        width: 2.5rem;
        margin: 0.5rem;
    }
    header .menu{
        margin-left: 1rem;
    }
    .menu div > p{
        display: none;
        font-size: 15px;
    }
    .playlist{
        display: none;
    }
    header .profile{
        padding-top: 38rem;
        line-height: 38px;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }
    header .profile div p {
        display: none;
    }

    /* MAIN NAVBAR*/
    main .navbar{
        padding: 0;
    }

    /*FINE HEADER*/
    main{
        margin-left: 3rem;
    }
    main .top-bar{
        width: calc(100% - 3rem);
    }

    /*FOOTER*/
    footer .sound-manag .left-items .icons{
        display: flex;
        flex-direction: column;
    }
}

    /* DESKTOP */
@media screen and (min-width: 992px) {
    /* MAIN */
    main .navbar nav{
        padding: 0 5rem;
    }

}
